.post-container {
  min-height: 80vh;
  margin: 20px;
  /* background-color: #3d7dec69; */
}
.post-details {
  background-color: white;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 5px 5px 12px 2px rgb(47 164 231 / 25%);
  padding: 30px;
  min-width: 30%;
}

.post-details p {
  font-size: 1.15rem;
}
